* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

*:not(input)::selection {
  background-color: transparent;
}

body {
  width: 800px;
  margin: auto;
}

h1 {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Arial Black", Arial, sans-serif;
}

p {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

#toolBox, #boardBox {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 30px;
}

#toolBox {
  font-size: 20px;
}

#toolBoardSizes div {
  display: inline-block;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

#toolBoardSizes input {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 50px;
  font-size: 15px;
  text-align: center;
}

.toolButton {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.toolButton:hover {
  background-color: #ccc;
}

#boardBox {
  padding-left: 10px;
}

#showMovesBox .label, #movesBox {
  display: inline-block;
  margin-top: 20px;
}

#showMovesBox .label {
  line-height: 30px;
  margin-right: 10px;
}

#movesBox {
  border: 1px solid black;
  border-radius: 3px;
  height: 30px;
  width: 50px;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
}

#boardFrame {
  border-radius: 10px;
  background-color: #555;
  padding: 5px;
}

.boardCell {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  background-color: white;
}

.boardCell.empty {
  background-color: #aaa;
  cursor: default;
}

#githublogo1 {
  height: 25px;
}

#githublogo2 {
  height: 20px;
}
