* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: transparent;
}

body {
  padding: 30px;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Arial Black", Arial, sans-serif;
}

p {
  margin-top: 30px;
}

#toolBox, #boardBox {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 30px;
}

.toolButton {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.toolButton:hover {
  background-color: #ccc;
}

#boardBox {
  padding-left: 10px;
}

#inputBoardSizeX, #inputBoardSizeY {
  width: 42px;
}

#movesBox {
  width: 50px;
  cursor: default;
}

input {
  height: 30px;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
}

#boardFrame {
  border-radius: 10px;
  background-color: #555;
  padding: 5px;
}

.boardCell {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  background-color: white;
}

.boardCell.empty {
  background-color: #aaa;
  cursor: default;
}
